<launch>
    <arg name="robotname" default="hyc_robot" />
    <!--<arg name="planname" default="pnpMoveToTest" />-->
    <!--<arg name="planname" default="pnpSystemMainTest" />-->    
    <arg name="planname" default="pnpSystemMain" />
    <!--<arg name="use_gui" default="true" />-->   
    <arg name="use_gui" default="false" /> 
    <group ns="$(arg robotname)">
        <param name="robot_name" value="$(arg robotname)" />
        <param name="tf_prefix" value="$(arg robotname)" />
        <!-- Action servers -->
        <node name="robot_scheduling_actions_node" pkg="robot_scheduling_actions" type="robot_scheduling_actions_node" args="" output="screen">
            <!--<remap from="/cmd_vel" to="/mobile_base/commands/velocity"/>-->
            <!--<remap from="/mobile_base/commands/velocity" to="/cmd_vel"/>-->
        </node>
        <!-- Action pnp server -->
        <node pkg="robot_scheduling_server" type="robot_scheduling_server_node" name="robot_scheduling_server_node" args="" output="screen" >
             <param name="current_plan" value="$(arg planname)" />
        </node>

        <node pkg="pnp_ros" type="pnp_node" name="pnp" args="" output="screen" >
            <param name="plan_folder" value="$(find robot_scheduling_server)/plans/main/" />
            <!--<param name="plan_folder" value="$(find robot_scheduling_server)/plans/pnp_module/pnpTest" />-->
            <!--<param name="plan_folder" value="$(find robot_scheduling_server)/plans/test/" />-->
            <param name="current_plan" value="$(arg planname)" />
	        <param name="PNPCurrentPlan" value="$(arg planname)" />	
            <param name="use_java_connection" value="$(arg use_gui)" />
        </node>
    </group>

</launch>
