<launch>
    <arg name="robotname" default="hyc_robot" />
    <arg name="planname" default="pnpCarMainDispatch_test_2" />
    <arg name="use_gui" default="true" />    
    <group ns="$(arg robotname)">
        <!-- Action car_db_manager_bridge -->
        <node pkg="car_db_manager_bridge" type="car_db_manager_bridge" name="car_db_manager_bridge_node" respawn="false" output="screen"/>
        <!-- Action car_db_manager_action -->
        <node pkg="car_db_manager_action" type="car_db_manager_action_node" name="car_db_manager_action" respawn="false" output="screen"/>
        <!-- ********* -->
        <param name="robot_name" value="$(arg robotname)" />
        <param name="tf_prefix" value="$(arg robotname)" />
        <!-- Action servers -->
        <node name="robot_scheduling_actions_node" pkg="robot_scheduling_actions" type="robot_scheduling_actions_node" args="" output="screen"/>
        <!-- Action pnp server -->
        <node pkg="robot_scheduling_server" type="robot_scheduling_server_node" name="robot_scheduling_server_node" args="" output="screen" >
             <param name="current_plan" value="$(arg planname)" />
        </node>

        <node pkg="pnp_ros" type="pnp_node" name="pnp" args="" output="screen" >
            <param name="plan_folder" value="$(find robot_scheduling_server)/plans/" />
            <!--<param name="current_plan" value="$(arg planname)" />-->
	        <param name="PNPCurrentPlan" value="$(arg planname)" />	
            <param name="use_java_connection" value="$(arg use_gui)" />
        </node>


    </group>

</launch>
